
@{
    ViewBag.Title = "AddonDownload";
}
<br />
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <img alt="280x280" src="../Content/image/addin.jpg" class="img-rounded" />
            <div class="row-fluid">
                <div class="span8">
                    <h2>
                        Office插件下载
                    </h2>
                    <p>
                        集成在Office中的COM加载项，与Office无缝衔接
                    </p>
                    <p>
                        <a class="btn btn-inverse btn-block" href="/Content/addon/word.rar">下载</a>
                    </p>
                </div>
                <div class="span4">
                </div>
            </div>
            <p>
                <a class="btn btn-link" href="https://github.com/vitystar/WordShareVSTO">项目免费开源，自行部署请移步github</a>
            </p>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span6">
                    <img alt="140x140" src="../Content/image/option.jpg" class="img-rounded" />
                </div>
                <div class="span6">
                    <h2>
                        打开COM加载项菜单
                    </h2>
                    <p>
                        在Office程序中，选择文件-选项-COM加载项，点击转到
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <img alt="140x140" src="../Content/image/setting.jpg" class="img-rounded" />
                </div>
                <div class="span6">
                    <h2>
                        加载插件
                    </h2>
                    <p>
                        点击添加，选择下载好的dll文件，开始享受吧！
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>